@import url(https://fonts.googleapis.com/css?family=Cambo:regular);
:root {
    background-color: goldenrod;
    color: black;
}
p {
    position: relative;
    width: 100%;
    font-size: x-large;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}
.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
}
.grid-header {
    display: grid;
    grid-column: auto;
}
.link_underline {
    text-decoration: none:
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
h1 {
    position: relative;
}
article {
    position: absolute;
}
img {
    float: right;
}
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
img {
    max-width: 220px;
    max-height: 150px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.button:after  {
    content: ' ⇢';
    font-size: 220%;
    height: 26px;
    margin-top: -19px;  
    float: right;
}