@import url(https://fonts.googleapis.com/css?family=Cambo:regular);
:root {
    background-color: goldenrod;
    color: black;
    width: fit-content;
    nav: block;
    position: :right;
}
p {
    position: relative;
    background-color: white;
    width: fit-content;
    font-size: x-large;
}
.link_underline {
    text-decoration: none:
}
.hero img {
    position: relative;
    display: block;
    height: auto;
h1 {
    background-color: blue;
    width: max-content;
    font-size: xx-large;
    position: relative;
}
article {
    position: absolute;
}
img {
    float: right;
}
h2 {
    display: absolute;
}
}