.note {
    font-style: italic;
    font-weight: bold;
    color: navy;
  }
  
.editorial {
    background: rgb(255 0 0 / 0.2);
    padding: 10px;
  }
#highlight {
  float: left;
    width: 300px;
    border: 1.5px solid #0011FF;
    text-decoration: underline;
    background-color: greenyellow;
    padding: 3px 10px 122px 20px;
    
}  

