.callout {
    max-width: 500px;
    margin: 10px;
    border: 3px solid red;
    padding: 20px;
    background-color: green;
    color: white;	
}

.callout img {
    float: left;
    margin: 5px 10px 15px 20px;
    border: 1px solid burlywood;
    padding: 2px;
    background-color: yellow;
    width: 150px;
    height: auto;	
}

blockquote {
    margin: 20px;
}

cite {
    display: block;
    border-top: 3px dotted yellow;
    padding-top: 1px;
    text-align: right;
    font-size: large;	
}